/* Feuille de style */
.navbar {
  background-color: #010626 !important;
  color:#ffffff;F
}

/* les onglets actifs */
.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus{
  background-color:  #C0C0C0 !important;
  color: white !important;
}

/* les liens et les textes */
.navbar-nav > li > a {
  color: white !important;
}


/* le titre */
.navbar-header > span {
  color: white !important;
}




/* mise en forme des cadres des div de l'application */
.cadre_general_app{
  position:relative;
  margin:70px 15px 15px 15px;
  width:100%;
}

.zone_travail{
  background-color: #EFEFEF;
  border-radius:3px;
}


.zones >div {
  margin: 5px;
}


/* Gestion des styles sur les fenetres modaux */
.modal-header, .modal-footer {
  background-color:#C0C0C0 !important ;
  border: 1px solid #C0C0C0;
  color:#010626 !important;
  height: auto !important;
}

.div_footer_modal{
   display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: nowrap;
}

.modal-body{
  padding:10px;
}
