/* Feuille de style */


body{
  font-family: Arial, Sans-Serif;
  font-size: 16px;
  color: #010626 ;
  margin: 0;
  padding: 0;
  background-color:  #C0C0C0 !important;
}


.ligne_contenu_modal > .ligne_jointure {
  padding:-5px;
}


.ligne_formulaire_intervalles {
  padding-bottom:-5px;
}

.ligne_jointure:hover{
  background: yellow;
}





.options_param_categories > div {
  padding:5px;
}

/*Labels */
label{
  font-family: Arial, Sans-Serif;
  font-size: 16px;
  color: #010626 ;
}




.container-fluid{
  padding-left: 0;
  padding-right: 0;
}


.navbar {
   background: linear-gradient(to bottom, #0a2168, #010626 40%, #010626 70%, #00030f ) !important ;
  box-shadow: inset 0 5px 10px rgba(0,0,0, 0.3),
  inset 0 -5px 8px rgba(0,0,0,0.6);

  color:#ffffff;
}

/* les onglets actifs */
.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus{
  background-color:  #C0C0C0 !important;
  color: #010626 !important;
}

/* les liens et les textes */
.navbar-nav > li > a {
  color: white !important;

}


/* le titre */
.navbar-header > span {
  color: white !important;
}




/*Gstion d3s listes */
.list-header {
  padding: 15px 20px;
}

.container-hierarchy{
  max-width: 500px;
  margin-left: 50px;
}

.list_item{
  padding: 5px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.list_item.active >a :focus {
 background-color:  #C0C0C0 !important;
  color: #010626 !important;
}

.list_item div, .list_item span{
  padding: 5px;
}

.list_item:hover{
  background-color: white ;
}






/* Mise en formws au niveau des symbologies */
.list-items-couches{
  display: relative;
  border:2px solid #C0C0C0 ;
  height: 200px;
}


.list-items-categories{
   display: relative;
    border:2px solid #C0C0C0 ;
    min-height: 200px;
    height: 500px;
}


/* mise en forme des cadres des div de l'application */
.cadre_general_app{
  position:relative;
  margin:70px 0px 0px 0px;
  width:100%;
}



/* Les commdes de Gestion des graphiques */
#commandes_gestion_graph {
  display: flex;
  flex-wrap: wrap;
}



/* Suppression de la marge entre les grands compartiments de l'application */
.cadre_general_app > div{
  padding: 0;
}

.zone_travail{
  background-color: #ffffff;
  height: auto !important;
  box-shadow: 0 1PX 1px rgba(0,0,0,1);
}


/* Les détails  des parametrages d'objets */
.details_zone_travail{
  position: relative;
  margin-left: 15px;

}

.details_zone_travail >div div{
  margin:0;
  padding: 0;
}

.zones >div {
  margin: 5px;
}


.zones_gauche{
  background-color: #ffffff;
  height: 100%;
  padding: 5px;
  box-shadow: 0 1PX 1px rgba(0,0,0,1);
}



/* POur la gestion des tabBox */

.tab-content{
  width: 100%;
  padding: 15px !important;
}

.box-body{
  padding: 10px !important;
}



/*   Mise en forme de la frenetre modale des symbologie */
.ligne_contenu_modal {
  position:relative ;
  left: 10%;
  right: 10%;
  width:80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  height: auto;
  margin: -5px;
}


#options_symbologie_ui >div {
  margin: 0;
}




/* Gestion des styles sur les fenetres modaux */
.modal{
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.modal, .modal-dialog{
   box-shadow: 0 1PX 1px rgba(0,0,0,1);
}


.modal-header {
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #a0a0a0 ) ;
  border-bottom: 2px solid #707070 !important;
  box-shadow: inset 0 2px 3px rgba(255,255,255, 0.7),
  inset 0 -2px 3px rgba(0,0,0,0.2);

  border: 1px solid #C0C0C0;
  color:#010626 !important;
  height: auto !important;
}



.modal-footer {
  background: linear-gradient(to top, #e0e0e0, #c0c0c0, #a0a0a0 ) ;
  border-top: 2px solid #707070 !important;
  box-shadow: inset 0 2px 3px rgba(255,255,255, 0.7),
  inset 0 -2px 3px rgba(0,0,0,0.2);

  border: 1px solid #C0C0C0;
  color:#010626 !important;
  height: auto !important;
}


.modal-footer .btn{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border: 1px solid #808080 !important;
  background: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
  color:#010626 !important;

}




/* les conyteneurs dans les fenetres modaux */
.ligne_sous_details_modal{
  margin-bottom: 10px;
  margin-top: -5px;
}


.option_pattern > div, .option_effet> div {
  padding-top: 20px;
  margin: -12px;
}


.option_effet{
  margin: 10px;
}


.btn{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border: 1px solid #808080 !important;
  background: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
  color:#010626 !important;

}


.div_footer_modal{
   display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: nowrap;
}

.modal-body{
  padding:10px;
}


.options_symbologie_ui{
  margin: center ;
}






/*Effets de la symbologie */
.ligne_effets :hover{
  cursor: pointer;
  background: #010626;
  color: white !important;
}




/* gestion de la mise en forme de la zone du rendu du code */
pre{
  white-space: pre-wrap; /* permet el retour à la ligne */
  word-break: break-all; /* Autorise la césuredes mots longs */
  overflow-wrap: break-word;/* Alternative moderne */
  line-height: 1.5;
  tab-size: 4; /* Taille des tabulations */
}
